script(src='/gentelella/js/bootstrap.min.js')
|     
script(src='/gentelella/js/chartjs/chart.min.js')
|     
script(src='/gentelella/js/nicescroll/jquery.nicescroll.min.js')
// icheck
script(src='/gentelella/js/icheck/icheck.min.js')
// daterangepicker
script(type='text/javascript', src='/gentelella/js/moment.min.js')
|     
script(type='text/javascript', src='/gentelella/js/datepicker/daterangepicker.js')
|     
script(src='/gentelella/js/custom.js')
// flot js   
script(type='text/javascript', src='/gentelella/js/flot/jquery.flot.js')
|     
script(type='text/javascript', src='/gentelella/js/easypie/jquery.easypiechart.min.js')
|     
script(type='text/javascript', src='/gentelella/js/flot/jquery.flot.time.min.js')
|     
script(type='text/javascript', src='/gentelella/js/flot/date.js')
