div(class='left-col col-md-2')
	.left_col.scroll-view
		.navbar.nav_title(style='border: 0;')
			a.site_title(href='/espace-admin/dashboard')
				i.fa.fa-home
				|  
				span Bienvenue !
		|                     
		.clearfix
		br
		// sidebar menu
		#sidebar-menu.main_menu_side.hidden-print.main_menu
			.menu_section
				h3 General
				|                             
				ul.nav.side-menu
					li
						a(href='/dashboard')
							i.fa.fa-home
							|  Accueil 
					|                                 
					li
						a
							i.fa.fa-edit
							|  Contrats
							span.fa.fa-chevron-down
						|                                     
						ul.nav.child_menu(style='display: none')
							li
								a(href='/dashboard/contracts/list?currentPage=1') Liste
							|                                         
							li
								a(href='/dashboard/contracts/create') Créer
					|                                 
					li
						a
							i.fa.fa-shopping-cart
							|  Machines
							span.fa.fa-chevron-down
						|                                     
						ul.nav.child_menu(style='display: none')
							li
								a(href='/dashboard/machines/list?currentPage=1') Liste
							|                                         
							li
								a(href='/dashboard/machines/create') Créer
					|                                 
		// /sidebar menu
