doctype html
html(lang="en")
	head
		title LeWebFrancais - Se connecter

		// STYLES
		link(rel="stylesheet", href="/styles/classes.css")
		link(rel="stylesheet", href="/styles/importer.css")
		link(rel="stylesheet", href="/styles/login.css")
		link(rel="stylesheet", href="/styles/main.css")
		// STYLES END
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
	body
		#logoid.logo.col-md-4.col-md-offset-4.col-xs-10.col-xs-offset-1
		#login.login-block.col-md-2.col-md-offset-5.col-xs-10.col-xs-offset-1
			form(action='/auth/login', method='GET')
				input.form-control(id='username',type='email',value='',placeholder='Email', name='email')
				input.form-control(id='password',type='password',value='',placeholder='Password',name='password')
				input(type='submit',value='Se connecter',data-transition='fade', data-theme='c')
