doctype html
html(lang="en")
	head
		title LeWebFrancais - S'enregistrer

		// STYLES
		link(rel="stylesheet", href="/styles/classes.css")
		link(rel="stylesheet", href="/styles/importer.css")
		link(rel="stylesheet", href="/styles/login.css")
		link(rel="stylesheet", href="/styles/main.css")
		// STYLES END
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
	body
		#logoid.logo.col-md-2.col-md-offset-5.col-xs-10.col-xs-offset-1
		#login.login-block.col-md-2.col-md-offset-5.col-xs-10.col-xs-offset-1
			form(action='/auth/register',method='GET')
				input.form-control(id='username',type='email',value='',placeholder='Email', name='email')
				.form-group
					.form-group
						input.form-control(id='password',type='password',value='',placeholder='Password',name='password')
						.help-block
					.form-group
						input.form-control(id='passwordConfirm',type='password',value='',placeholder='Confirm password',data-match="#password" data-match-error="Whoops, these don't match")
						.help-block.with-errors
					.form-group.hidden
						input.hidden(id='role',type='text',value='dXNlcg==',name='role')
				input(type='submit',value='Se connecter',data-transition='fade', data-theme='c')
